/* .card-header{
    display: flex;
} */

/* .form-inline{
    display: flex;
    justify-content: flex-end;
}

.btn{
    margin-left: 2px;
} */

thead{
    color: #0d6efd;
}

tbody{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}