<!-- <h3>Works</h3> -->
<!-- <welcome-selector> </welcome-selector> -->
<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
      <li> 
        <a class='nav-link' routerLinkActive='active' routerLink="/welcome">Home</a>
      </li>
      <li> 
        <a class='nav-link' routerLinkActive='active' routerLink="/player">Players List</a>
      </li>
  </ul>
</nav>
 <div class="container">
  <router-outlet></router-outlet>
</div>

<!-- Router outlet is used to display contents of the component
    Router Link is used link -->
<!-- <app-player></app-player> -->